$dark-blue-font: #031b4e;
$black: #121212;
$white: #ffffff;
$blue: #0056bf;
$light-blue: #2979ff;
$light-blue-2: #6392f7;
$edutin-blue: #1d448e;
$red: #dc143c;
$green: #3aa337;
$green-dark: #389b35;
$green-bg: #f6fffb;
$gray: #808ca6;
$font-gray: #95a2b5;
$light-gray: #f6f9fc;
$backgray-sidebar: #f3f5f9;
$border-color: #c3c9d7;
$error: rgb(220, 64, 64);

$font-blue-gray: #6d7693;
$font-gray-text: #818da6;
$gray-bg: #f3f4f8;
$dark-gray-bg: #dde1ec;
$color-divider: #e0e0e0;
$blue-bg: #f4f5f9;
$blue-bg-hover: #d4e2f9;
$dark-blue-bg: #dde9ff;
$hover-shadow: rgba(0, 0, 0, 0.2);
$disabled-bg: #e9eaeb;
$light-yellow: #ffc107;
$light-gray-bg: #dee2e5;
$light-blue-bg: #e9f1ff;
$subtle-gray-bg: #e4e8f1;
$subtle-gray-text: #6d7693;
$hover-bg: rgba(29, 68, 142, 0.12);
$edutin-blue-gray: #4e6598;

$error: rgb(220, 64, 64);
$background-edit: #0056bf0c;
$gray-001: #e9e9e9;
$border-gray-001: rgba(3, 27, 78, 0.1);
$note-secondary-color: #4a4a4a9e;
$border-secondary-color: #4a4a4a25;
$border-spinner-color: #d8d6d6;
$border-botton-001: 1px solid #e1e1e1;
$color-font-table: rgba(3, 27, 78, 0.6);
$dark-blue: #031b4ecc;
$primary--color: $blue;
$secondary--color: $white;
$orange: #e07941;
$color-skeleton-base: #e0e0e0;
$color-skeleton-medium: #f8f8f8;


