.avatar {
  align-items: center;
  background-color: var(--color-navbar-menu-item-bg);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  margin-right: 8px;

  &--x-small {
    height: 24px;
    width: 24px;
  }

  &--small {
    height: 32px;
    width: 32px;
  }

  &--medium {
    height: 48px;
    width: 48px;
  }

  &--large {
    height: 64px;
    width: 64px;
  }
}

.b-radius {
  border-radius: 6px;
}

@mixin ellipsis($lines) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

.ellipsis-1 {
  @include ellipsis(1);
}

.ellipsis-2 {
  @include ellipsis(2);
}

.ellipsis-3 {
  @include ellipsis(3);
}

.ellipsis-4 {
  @include ellipsis(4);
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.flex,
.grid .inline-flex {
  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.align-baseline {
    align-items: baseline;
  }

  &.align-start {
    align-items: flex-start;
  }

  &.align-end {
    align-items: flex-end;
  }

  &.align-center {
    align-items: center;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-space-around {
    justify-content: space-around;
  }

  &.justify-space-between {
    justify-content: space-between;
  }

  &.justify-space-evenly {
    justify-content: space-evenly;
  }

  &.gap-0 {
    gap: 0;
  }

  &.gap-1 {
    gap: 0.5rem;
  }

  &.gap-2 {
    gap: 1rem;
  }
}

.truncated-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;

  &.line-clamp-1 {
    -webkit-line-clamp: 1;
  }

  &.line-clamp-2 {
    -webkit-line-clamp: 2;
  }
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.fw-bold {
  font-weight: bold;
}

.fw-bolder {
  font-weight: bolder;
}

.fw-lighter {
  font-weight: lighter;
}

.h-100 {
  height: 100%;
}

.margin-auto {
  margin: auto;
}

.margin-x-auto {
  margin: 0 auto;
}

.margin-y-auto {
  margin: auto 0;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.w-100 {
  width: 100%;
}

$std-normal-text: clamp(14px, 0.9vw, 16px);
$std-small-text: clamp(12px, 0.8vw, 14px);

// FONTS
$fs-24: clamp(24px, 1vw, 26px);
$fs-22: clamp(22px, 1vw, 24px);
$fs-20: clamp(20px, 1vw, 22px);
$fs-18: clamp(18px, 1vw, 20px);
$fs-16: clamp(16px, 1vw, 18px);
$fs-14: clamp(14px, 1vw, 16px);
$fs-12: clamp(12px, 1vw, 14px);
$fs-10: clamp(10px, 1vw, 12px);

/* ----------------------------------------------
 * Generated by Animista on 2024-7-28 13:1:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.scale-up-center {
  -webkit-animation: scale-up-center 100ms cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 100ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes small-scale-up-center {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes small-scale-up-center {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.6s ease forwards;
  will-change: opacity, transform;
}

.fade-slide-in {
  opacity: 0;
  animation: fadeSlideIn 0.6s ease forwards;
  will-change: opacity, transform;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(3px);
  }
  60% {
    opacity: 1;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.opacity-02 {
  opacity: 0.2;
}

.opacity-04 {
  opacity: 0.4;
}

.opacity-06 {
  opacity: 0.6;
}

.opacity-08 {
  opacity: 0.8;
}

.pointer-events-none {
  pointer-events: none;
  cursor: auto;
}

.column-active {
  color: #1d448e !important;

  .icon {
    color: #1d448e !important;
  }

  button.btn__hover .icon {
    color: #1d448e !important;
  }
}
